[test]
HSortTest.SortEmpty                          = 1
HSortTest.SortSingleElement                  = 1
HSortTest.SortTwoElements_InOrder            = .5
HSortTest.SortTwoElements_OutOfOrder         = .5
HSortTest.SortThreeElements_10_20_30         = .5
HSortTest.SortThreeElements_10_30_20         = .5
HSortTest.SortThreeElements_20_10_30         = .5
HSortTest.SortThreeElements_20_30_10         = .5
HSortTest.SortThreeElements_30_10_20         = .5
HSortTest.SortThreeElements_30_20_10         = .5
HSortTest.SortThreeElements_Greater          = 1
HSortTest.SortStrings                        = .5
HSortTest.SortPairs                          = .5
HSortTest.Stress10RandomElements_Less        = .5
HSortTest.Stress100RandomElements_Less       = .5
HSortTest.Stress1000RandomElements_Less      = 1
HSortTest.Stress10000RandomElements_Less     = 1
HSortRuntime.Runtime                     = 4

