[test]
PuzzleExpansions.Sample_1a_TilesOutOfPlace                   =  .4
PuzzleExpansions.Sample_1b_ManhattanDistance                 =  .4
PuzzleExpansions.Sample_1c_BFS                               =  .4
PuzzleExpansions.Sample_2a_TilesOutOfPlace                   =  .4
PuzzleExpansions.Sample_2b_ManhattanDistance                 =  .4
PuzzleExpansions.Sample_2c_BFS                               =  .4
PuzzleExpansions.5by5_1_TilesOutOfPlace                      =  .4
PuzzleExpansions.5by5_1_ManhattanDistance                    =  .4
PuzzleExpansions.5by5_1_BFS                                  =  .4
PuzzleExpansions.5by5_2_TilesOutOfPlace                      =  .4
PuzzleExpansions.5by5_2_ManhattanDistance                    =  .4
PuzzleExpansions.5by5_2_BFS                                  =  .4
PuzzleExpansions.8by8_TilesOutOfPlace                        =  .4
PuzzleExpansions.8by8_ManhattanDistance                      =  .4
PuzzleExpansions.8by8_BFS                                    =  .4
PuzzleExpansions.10by10_TilesOutOfPlace                      =  .4
PuzzleExpansions.10by10_ManhattanDistance                    =  .4
PuzzleExpansions.10by10_BFS                                  =  .4
PuzzleExpansions.3by3_MoveHints_TilesOutOfPlace              =  .4
PuzzleExpansions.3by3_MoveHints_ManhattanDistance            =  .4
PuzzleExpansions.3by3_MoveHints_BFS                          =  .4
PuzzleExpansions.5by5_MoveHints_TilesOutOfPlace              =  .4
PuzzleExpansions.5by5_MoveHints_ManhattanDistance            =  .4
PuzzleExpansions.5by5_MoveHints_BFS                          =  .4
PuzzleExpansions.5by5_SolveBoard                             =  .4
PuzzlePath.Sample_1a_TilesOutOfPlace                         = 1.4
PuzzlePath.Sample_1b_ManhattanDistance                       = 1.4
PuzzlePath.Sample_1c_BFS                                     = 1.4
PuzzlePath.Sample_2a_TilesOutOfPlace                         = 1.4
PuzzlePath.Sample_2b_ManhattanDistance                       = 1.4
PuzzlePath.Sample_2c_BFS                                     = 1.4
PuzzlePath.5by5_1_TilesOutOfPlace                            = 1.4
PuzzlePath.5by5_1_ManhattanDistance                          = 1.4
PuzzlePath.5by5_1_BFS                                        = 1.4
PuzzlePath.5by5_2_TilesOutOfPlace                            = 1.4
PuzzlePath.5by5_2_ManhattanDistance                          = 1.4
PuzzlePath.5by5_2_BFS                                        = 1.4
PuzzlePath.8by8_TilesOutOfPlace                              = 1.4
PuzzlePath.8by8_ManhattanDistance                            = 1.4
PuzzlePath.8by8_BFS                                          = 1.4
PuzzlePath.10by10_TilesOutOfPlace                            = 1.4
PuzzlePath.10by10_ManhattanDistance                          = 1.4
PuzzlePath.10by10_BFS                                        = 1.4
PuzzlePath.3by3_MoveHints_TilesOutOfPlace                    = 1.4
PuzzlePath.3by3_MoveHints_ManhattanDistance                  = 1.4
PuzzlePath.3by3_MoveHints_BFS                                = 1.4
PuzzlePath.5by5_MoveHints_TilesOutOfPlace                    = 1.4
PuzzlePath.5by5_MoveHints_ManhattanDistance                  = 1.4
PuzzlePath.5by5_MoveHints_BFS                                = 1.4
PuzzlePath.5by5_SolveBoard                                   = 1.4

