[test]
SetOpsTestIntersection.TwoEmptySets = 0.25
SetOpsTestIntersection.FirstSetEmpty = 0.25
SetOpsTestIntersection.SecondSetEmtpy = 0.25
SetOpsTestIntersection.NonIntersectingSets = 0.25
SetOpsTestIntersection.PartiallyIntersectingSets = .5
SetOpsTestIntersection.IdenticalNonEmptySets = 0.25
SetOpsTestUnion.TwoEmptySets = 0.25
SetOpsTestUnion.FirstSetEmpty = 0.25
SetOpsTestUnion.SecondSetEmpty = 0.25
SetOpsTestUnion.NoElementsInCommon = 0.5
SetOpsTestUnion.SomeElementsInCommon = 0.5
SetOpsTestUnion.IdenticalNonEmptySets = 0.25
SetOpsTestDifference.TwoEmptySets = 0.25
SetOpsTestDifference.FirstSetEmpty = 0.25
SetOpsTestDifference.SecondSetEmpty = 0.25
SetOpsTestDifference.IdenticalNonEmptySets = 0.25
SetOpsTestDifference.FirstSubsetOfSecond = 0.5
SetOpsTestDifference.SecondSubsetOfFirst = 0.5
SetOpsTestDifference.NoElementsInCommon = 0.25
SetOpsRuntime.Intersection = 2
SetOpsRuntime.Union = 2
SetOpsRuntime.Difference = 2