[test]
ListInsertBack.OneItemAdd                = 1
ListInsertFront.OneItemAdd               = 1
ListInsert.EmptyString                   = 0.5
ListInsertBack.ThreeItemAdd              = 1
ListInsertFront.ThreeItemAdd             = 1
ListInsert.FrontThenBack                 = 1
ListInsert.BackThenFront                 = 1
ListInsertBack.ARRSIZEPlusOne            = 1
ListInsertFront.ARRSIZEPlusOne           = 1
ListInsertBack.50RandomElements          = 0.5
ListInsertFront.50RandomElements         = 0.5
ListInsertBack.5x1000RandomElements      = 0.5
ListInsertFront.5x1000RandomElements     = 0.5
UnrolledList.ConstructionDestruction     = 0.5
UnrolledList.NoElements                  = 0.5
UnrolledList.Front_PushBack              = 0.5
UnrolledList.Front_PushFront             = 0.5
UnrolledList.Back_PushBack               = 0.5
UnrolledList.Back_PushFront              = 0.5
ListSet.OneItem                          = 0.5
ListSet.First                            = 0.5
ListSet.Last                             = 0.5
ListSet.Middle                           = 0.5
ListSet.50x50RandomElements              = 0.5
ListRemove.OneItemFront                  = 1
ListRemove.OneItemBack                   = 1
ListRemove.RepeatedOneEleRemoveBack      = 1
ListRemove.RepeatedOneEleRemoveFront     = 1
ListRemove.Head3Elements                 = 1
ListRemove.Tail3Elements                 = 1
ListRemove.AtARRSIZE                     = 0.5
ListRemove.AtARRSIZEPlusOne              = 0.5
ListRemove.SongOfBackAndFront            = 0.5
ListRemove.50ElementsFromBack            = 0.5
ListRemove.50ElementsFromFront           = 0.5
ListRuntime.Get                          = 0.5
ListRuntime.PushBack                     = 0.5     
ListRuntime.PushFront                    = 0.5      
ListRuntime.PopFront                     = 0.5     
ListRuntime.PopBack                      = 0.5    
                           
