[test]
Duplicates.Empty = 2
Duplicates.OneValueNoDuplicate = 1
Duplicates.OneValueOneDuplicate = 1
Duplicates.TwoValuesNoDuplicate = 1
Duplicates.TwoValueOneDuplicateA = 0.5
Duplicates.TwoValueOneDuplicateB = 0.5
Duplicates.ThreeValuesDuplicateStart = 1
Duplicates.ThreeValuesDuplicateMid = 1
Duplicates.ThreeValuesDuplicateEnd = 1
Duplicates.TenNumbers = 1
Duplicates.ManyDuplicateSequences = 2
Duplicates.DuplicatesMixed = 2
Duplicates.RandomStress500x10ele = 2
Concatenate.BothEmpty = 1
Concatenate.FirstEmptyOneVal = 0.5
Concatenate.SecondEmptyOneVal = 0.5
Concatenate.BothNonEmptyOneVal = 1
Concatenate.FirstEmptyMultipleVals = 1
Concatenate.SecondEmptyMultipleVals = 1
Concatenate.BothNonEmptyMultipleVals = 1
