[test]
SimpleInput.Normal = 2
SimpleInput.SingleSpace = 1
SimpleInput.SingleTab = 1
SimpleInput.CaseInsensitive = 1
SimpleInput.MultiMajorSingleLine = 2
SimpleInput.MultiMajorMultiLine = 2
SimpleInput.NoStudentsInMajors = 2
ModerateInput.MultiSpace = 1
ModerateInput.MultiTab = 1
ModerateInput.MultiSpaceCaseInsensitive = 1
ModerateInput.MultiTabCaseInsensitive = 1
ComplexInput.MultiSpaceTabCaseInsensitive = 1
ComplexInput.MultiSpaceTabCaseInsensitiveMultiMajorSingleLine = 2
ComplexInput.MultiSpaceTabCaseInsensitiveMultiMajorMultiLine = 2
ComplexInput.AnythingGoes1 = 1
ComplexInput.AnythingGoes2 = 1
