[test]
Stack.Empty                        = 0.25
Stack.TopEmpty                     = 0.25
Stack.OneElementPush               = 0.25
Stack.FiveElementPush              = 0.25
Stack.OneElementPop                = 0.5
Stack.FiveElementPop               = 0.5
Stack.PopEmpty                     = 0.25
Stack.EmptyThenRefill              = 0.5
Stack.PopThenAdd                   = 0.25
StackStress.50x50Elements          = 0.5
StackStress.5x1000Elements         = 0.25
StackStress.2x10000Elements        = 0.25
StackRuntime.Push                  = 1
StackRuntime.Pop                   = 1
StackRuntime.Top                   = 1